#cabecalho{
margin: 20px auto 25px;
position: relative;
width: 1045px;
height: 293px;
background: #FFF;
border-bottom: 5px solid #81bd00;
border-top: 5px solid #81bd00;
border-right: 1px solid #ECECEC;
border-left: 1px solid #ECECEC;
}

.titulo{
font-size: 80px;
position: absolute;
top: 50px;
}

.titulo:hover{
font-family: Blackout-2am;
font-size: 90px;
top: 40px;
}

#barratitulo{
position: absolute;
top: 150;
width: 400px;
height: 40px;
background-color: #00B38F;
}

#sub_c{
height: 30px;
border-bottom: 1px solid #ECECEC;
font-family: Droid Sans;
font-size: 14px;
background-color: #FBFBFB;
}
.estica{/*
width: 475px;*/
}

#box_sub{
/*background-color: #F61111;*/
position: absolute;
height: 157px;
width: 634px;
left: 407px;
top: 33px;
}

#sub_c ul{
padding: 0;
margin: 0;
outline: none;
list-style: none;
border: 0 none;
line-height: 30px
}

#sub_c ul li{
float: left;
display: inline-block;
height: 30px;
line-height: 30px;
color: #838383;
padding: 0 10px;
text-shadow: 0 1px 1px #FFF;
}

#menu{
position: absolute;
top: 227px;
left: -40px;
 z-index: 1;
font-family: Droid Sans;
font-size: 14px;
}

#box_pesquisar{
position: absolute;
top: 241px;
left: 600;
width: 445;
height: 47;
border-bottom: 5px solid #383838;
z-index: 1;
font-family: Droid Sans;
font-size: 14px;
background-color: #2D2D2D;
border-left: 1px solid #383838;
line-height: 47px;
text-align: center;
color: #ddd;
}

#box_pesquisar input{
border-radius: 10;
}

#ok{
top: 11;
position: absolute;
left: 341;
}

#menu ul{
list-style: none;

}

#menu ul li {
float: left;
background: #2D2D2D;
position: relative;
width:100px;

}

#menu ul li:nth-child(1){

	width: 30px;
	height: 47px;
	border-bottom: 5px solid #383838;

}

#menu ul li a{
text-decoration: none;
display: block;
height: 47px;
line-height: 47px;
color: #ddd;
padding: 0 10px;
text-shadow: 0 1px 1px #000;
border-left: 1px solid #383838;
border-right: 1px solid #222222;
border-bottom: 5px solid #383838;
}

#menu ul li a:hover{
text-shadow: 0 0px 1px #CCC;
}

#menu ul li ul {
position: absolute;
left: -50px;
display: none;
}

#menu ul li ul a:hover {
font-size: 17px;

}


#menu ul li:hover ul {
display: block;
}

#menu ul li ul li {
width: 200px;

}

.jogos_b:hover{
background: #6b739d;
}

.hq_b:hover{
background: #0A82C0;
}

.seriado_b:hover{
background: #00B38F;
}

.filme_b:hover{
background: #58CA58;
}

.happy_b:hover{
background: #C02D3E;
}

.inicio_b:hover{
background: #D69E05;
}
